@font-face {
    font-family: Librecarlson;
    src: url("./Fonts/LibreCaslonText-Regular.ttf");
}

.site-container {
    display: flex;
    gap: 40px;
    max-width: fit-content;
}

.left-section {
    flex: 3;
    height: 45%;
}

.right-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.primary-image, .secondary-image {
    border-radius: 8px;
    width: 100%;
    height: auto;
}

.text-content {
    font-family: "Librecarlson",serif;
}